@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --background: #FFF;
}

body {
  color: var(--black);
  background: var(--white);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
