@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth
}

:root {
  --black: #000;
  --background: #FFF;
}

body {
  color: var(--black);
  background: var(--white);
  overflow-x: hidden;
}